.syntax--critic.syntax--gfm{
  &.syntax--addition {
    color: @syntax-color-added;
  }
  &.syntax--deletion {
    color: @syntax-color-removed;
  }
  &.syntax--substitution {
    color: @syntax-color-renamed;
  }
  &.syntax--comment {
    color: @syntax-color-modified;
  }
  &.syntax--highlight {
    color: @col4;
  }
  &.syntax--marker {
    color: @dim-gray !important;
  }
  &.syntax--operator {
    color: @dim-gray !important;
  }
}
