.syntax--md {

  .syntax--hr {
    color: @col5;
    font-weight: bold;
  }

  .syntax--heading {
    color: @dark-gray;
    font-weight: bold;
    .syntax--punctuation {
      font-weight: normal !important;
      color: @col2 !important;
    }
  }

  .syntax--list, .syntax--quote {
    .syntax--punctuation {
      color: @light-col2 !important;
    }
  }

  .syntax--table {
    color: @very-dark-gray !important;
    .syntax--alignment, .syntax--storage, .syntax--punctuation {
      color: @light-col2!important;
      font-weight: normal;
    }
  }

  .syntax--emphasis {
    color: @writer-fg;
    &.syntax--italic {
      font-style: italic;
    }
    &.syntax--bold {
      font-weight: bold;
    }
  }

  .syntax--fenced {
    color: @very-dark-gray;
    .syntax--language {
      color: @light-gray;
      font-style: italic;
    }
  }

  .syntax--raw {
    color: @light-col5;
  }

  .syntax--link {
    .syntax--text, .syntax--string {
      color: @col4 !important;
    }
  }

  .syntax--label, .syntax--destination {
    .syntax--link {
      color: @dark-gray !important;
      font-weight: normal !important;
    }
  }

  // TODO This is not working right now
  .syntax--image{
    .syntax--punctuation{
      &::first-letter{
        color: @col2 !important;
      }
    }
  }

  .syntax--critic {

    &.syntax--highlight {
      .ooe-highlighted;
    }

    &.syntax--inserted {
      .ooe-added;
    }

    &.syntax--deleted {
      .ooe-removed;
    }

    &.syntax--comment {
      .ooe-renamed;
    }

    &.syntax--substitution {
      .ooe-changed;
    }
  }

}
