.syntax--todo, .syntax--fixme, .syntax--changed, .syntax--xxx, .syntax--note, .syntax--hack, .syntax--idea, .syntax--review {
  // Full support of language-todo
  // TODO and FIXME ("action items") have same color
  // CHANGED and REVIEW ("new or untested") have same color
  // NOTE and IDEA ("for devs eyes only") have same color
  // XXX and HACK have their own color
  background-color: fadeout(@very-light-gray, 50%);
  padding: 0px 0px;
  margin: 0px -1px;
  border-radius: 2px;
  border: 1px solid @very-light-gray;
  z-index: 10000 !important;
}

.syntax--todo {
  color: @col4 !important;
}

.syntax--fixme {
  color: @col5 !important;
}

.syntax--changed, .syntax--review {
  color: @col2 !important;
}

.syntax--note, .syntax--idea {
  color: @col3 !important;
}

.syntax--hack {
  color: @dark-col4 !important;
}

.syntax--xxx {
  color: @light-col1 !important;
}
