.gutter {
  .git-line-removed {
    z-index: 90000;
    &::before {
      border-left-color: @syntax-color-removed !important;
      z-index: 100000;
    }
  }

  .line-number.git-line-added {
    color: @syntax-color-added;
  }

  .line-number.git-line-modified {
    color: @syntax-color-modified;
  }
}

// Git config
.syntax--git-config {
  .syntax--constant {
    color: @col3;
  }
  .syntax--boolean {
    color: @col1;
  }
  .syntax--name {
    &.syntax--section {
      color: @col5;
    }
    &.syntax--subsection {
      color: @dim-col5;
    }
  }
}
