.gutter {

  .git-line-added {
    color: @syntax-color-added;
    &.cursor-line {
      color: @syntax-color-added;
    }
  }

  .git-line-modified {
    color: @syntax-color-modified;
    &.cursor-line {
      color: @syntax-color-modified;
    }
  }

  .git-line-removed {
    border-bottom: 1px dashed @syntax-color-removed;
  }

}


// Git config
.git-config {
  .constant {
    color: @orange;
  }
  .boolean {
    color: @purple;
  }
  .name {
    &.section {
      color: @cyan;
    }
    &.subsection {
      color: @green;
    }
  }
}

// Folders and files in the tree view
.list-tree, .tree-view-directory{
  .status-modified {
    color: @syntax-color-modified !important;
  }
  .status-added {
    color: @syntax-color-added !important;
  }
}

.list-tree li.list-nested-item.selected.status-modified > .list-item,
.list-tree li.list-nested-item.status-modified > .list-item {
  color: @syntax-color-modified !important;
}
