.syntax--source.syntax--todo {
  background: none !important;
  border: none !important;

  .syntax--header {
    color: @very-lively-gray !important;
    .syntax--header-title {
      color: @dim-col2;
      font-weight: bold;
    }
  }

  .syntax--tasks {
    color: @ooe-fg;
    .syntax--marker {
      color: @lively-gray !important;
    }
  }

  .syntax--attribute {
    color: @dim-gray;
  }
  .syntax--attribute-value {
    color: @lively-gray;
  }
  .syntax--attribute-name {
    color: @dim-col4;
  }

}
