.syntax--source.syntax--todo {
  background: none !important;
  border: none !important;

  .syntax--header {
    color: @very-dark-gray !important;
    .syntax--header-title {
      color: @l2;
      font-weight: bold;
    }
  }

  .syntax--tasks {
    color: @writer-fg;
    .syntax--marker {
      color: @dark-gray !important;
    }
  }

  .syntax--attribute {
    color: @light-gray;
  }
  .syntax--attribute-value {
    color: @dark-gray;
  }
  .syntax--attribute-name {
    color: @l4;
  }

}
