@import "syntax-variables";

atom-text-editor {
  background-color: @syntax-background-color;
  color: @syntax-text-color;

  .wrap-guide {
    background-color: @syntax-wrap-guide-color;
  }

  .indent-guide {
    color: @syntax-indent-guide-color;
  }

  .invisible-character {
    color: @syntax-invisible-character-color;
  }

  .gutter {

    .line-number {

      &.cursor-line {
        color: @syntax-gutter-text-color-selected;
      }

      &.cursor-line-no-selection {
        color: @syntax-gutter-text-color-selected;
      }
    }
  }

  .gutter-container {
    color: @syntax-gutter-text-color;
  }

  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    color: @dim-gray;
  }

  .invisible {
    color: @syntax-text-color;
  }

  .cursor {
    color: @syntax-cursor-color;
    z-index: 3 !important;
  }

  .selection .region {
    background-color: @syntax-selection-color;
  }
}

atom-text-editor {
  .find-result .region {
    background-color: fadeout(@syntax-result-marker-color, 45%);
    border: 1px solid @syntax-result-marker-color;
  }
}

atom-text-editor .highlight.current-result .region,
atom-text-editor .highlight.current-result ~ .highlight.selection .region {
  background-color: fadeout(@syntax-result-marker-color-selected, 45%);
}

atom-text-editor[mini] .scroll-view, atom-text-editor .scroll-view
:host([mini]) .scroll-view {
  padding-left: 1px;
}

// Comments
.syntax--punctuation{
  color: @dim-gray;
}

.syntax--comment {
  color: @lively-gray;
  &.syntax--punctuation {
    color: @dim-gray;
  }
}

.syntax--meta{
  color: @very-lively-gray;
}

.syntax--none{
  color: @gray;
}

// Strings
.syntax--string{
  color: @col3;
}

.syntax--entity {
  color: @col1;
  &.syntax--function {
    color: @col1;
  }
}

.syntax--support {
  color: @col2;
  &.syntax--function {
    color: @col2;
  }
  &.syntax--macro {
    color: @accent-col2;
  }
  &.syntax--type {
    color: @col4;
    &.syntax--property-name {
      color: @col2;
    }
  }
}

.syntax--variable{
  color: @accent-col2;
  &.syntax--interpolation {
    font-weight: bold;
  }
}

.syntax--keyword {
  color: @col2;
  &.syntax--operator {
    color: @gray;
  }
  &.syntax--unit {
    color: @accent-col2;
  }
}

.syntax--constant{
  color: @col5;
  &.syntax--numeric {
    color: @col4;
  }
}

.syntax--storage{
  color: @col5;
}
