// baseplus
// Additional them-wide elements

.link {
  color: @dark-gray !important;
}

.http, .hyperlink {
  border-bottom: 1px dashed @blue;
}

.punctuation {
  color: @gray !important;
}

// Meta, braces

.meta.brace, .brace.meta, .meta, .brace {
  color: @light-gray !important;
  .curly, .square {
    color: @light-gray !important;
  }
}
