// These colors are specific to the theme. Do not use in a package!
// Colors come from ColorBrewer

@white: rgb(254, 254, 254);
@black: rgb(25, 25, 25);

@light-grey: darken(@white, 37%);
@grey: darken(@light-grey, 10%);
@dark-grey: lighten(@black, 37%);

@blue: #3182bd;
@green: #31a354;
@orange: #e6550d;
@purple: #756bb1;
