// These colors are specific to the theme. Do not use in a package!

@white: rgb(254, 254, 254);
@black: rgb(25, 25, 25);

@light-grey: #bdbdbd;
@grey: #969696;
@dark-grey: #636363;

@blue: #1f77b4;
@lblue: #aec7e8;

@orange: #ff7f0e;
@lorange: #ffbb78;

@green: #2ca02c;
@lgreen: #98df8a;

@red: #d62728;
@lred: #ff9896;

@purple: #9467bd;
@lpurple: #c5b0d5;
