.source.gfm .markup {
  -webkit-font-smoothing: auto;
  &.heading {
    color: @light-blue;
    font-weight: bold;
  }
}

.source.gfm {
  // List
  .list{
    color: @light-gray;
    font-weight: bold;
  }
  // Quotes
  .quote {
    color: @dark-gray;
  }
  // Raw code
  .raw {
    color: @gray;
  }
  // Links
  .link {
    .entity {
      color: @blue;
    }
    .underline {
      color: @orange;
    }
  }
  // Support characters
  .support {
    color: @cyan;
  }
}
