@import "colors";

// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: @text;
@syntax-cursor-color: @invisibles;
@syntax-selection-color: @selection;
@syntax-background-color: @background;

// Guide colors
@syntax-wrap-guide-color: @invisibles;
@syntax-indent-guide-color: @invisibles;
@syntax-invisible-character-color: @invisibles;

// For find and replace markers
@syntax-result-marker-color: lighten(@highlight, 30%);
@syntax-result-marker-color-selected: @highlight;

// Gutter colors
@syntax-gutter-text-color: lighten(@text, 50%);
@syntax-gutter-text-color-selected: lighten(@text, 40%);
@syntax-gutter-background-color: @background;
@syntax-gutter-background-color-selected: @background;

// For git diff info. i.e. in the gutter
@syntax-color-renamed: @cyan;
@syntax-color-added: @green;
@syntax-color-modified: @blue;
@syntax-color-removed: @red;
